/*code couleurs bleu(#0065FC),bleu clair(#DEEBFF),gris(#F2F2F2)
breakpoints 992px desktop et 768px tablettes < mobiles*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


/*Parametrage globale du projet*/

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


img{
    object-fit: cover;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

.hebergements,.aside_hebergements_populaires{
    border-radius: 4%;
}

.greystar{
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}




                                                            /*EN TETE DE PAGE*/

header{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
}  

#logo{
    margin:  2% 0 0 2%;
    width: 10%;
    height: auto;
}

nav{
    width: 30%;
    margin-right: 2%;
    height: auto;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    list-style-type: none;
}

header nav li{
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
}

header nav li:hover{
    border-top: solid #0065FC 3px;
    margin-bottom: 3px;
}

header nav li:hover a{
    color: #0065FC;
}

                                                    /*Section infos*/

 .infos{
     line-height: 0.6;
     width: 80%;
     margin: 0 auto;
 }     
 
 .infos h1{
   font-size: x-large;
 }

 .infos p{
     font-size: 95%;
     font-weight: 500;
     margin-bottom: 3%;
 }

                                                /*Formulaire de Recherche*/


.form_search_location{
    width: 80%;  
    margin: 0 auto;
}

.location{
    display: flex;
}

label{
    padding: 2%;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    margin-right: 0;
}

#location{
    padding: 2% 0;
    margin: 0;
    width: 28%;
    border: #f2f2f2 1px solid;
    font-weight: 800;
}

#location::placeholder{
   padding-left: 10%;
   font-weight: 800;
   color: black;
   opacity: 1;

}

#submit_location{
    padding: 2% 0;
    color: white;
    background-color: #0065FC;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    border: solid #0065FC 1px;
    width: 120px;
}

#submit_location i{
display: none;
}



                                                                    /*Filtres*/

.filters{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.filters h2{
    font-size: 1.2em;
}

.filters ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.filters li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5%;
    padding: 1%;
    height: 100%;
    width: auto;
    
}

.filters a:hover{
    transition: 1s linear;
    background-color: #DEEBFF;
    border: none; 
}

.filters .fas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 1%;
    height: 100%;
    width: 40px;
    background-color: #DEEBFF;
    border-radius: 100%;
    transform: translateX(-20%);
    margin-left: 5px;
    color: #0065FC;
}

.filters li a{
    border: solid #d8d8d8 1px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    height: 46px;
    border-radius:30px;      
}

.filters span{
    font-weight: 800;
    display: flex;
    margin-right: 10px;
}

.filters i{
    width: 100%;
    height: 100%;
}

.info_2{
    margin: 0 auto;
    width: 80%;
}

.info_2 .fa-solid{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #DEEBFF 2px ;
    border-radius: 100%;
    color: #0065FC;
    margin-right: 10px;    
}

.info_2 p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: 500;
}

.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
}

.info_2 p i{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border:solid #F2F2F2 2px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

                                                                    /*Hebergements*/


.main_hebergements{
   width: 80%;
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
}

.main_hebergements img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.hebergements{
    width: 65%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.main_hebergements h3{
    margin:5% 0 0 5% ;
    font-weight: 700;
    width: 100%;
}

.hebergements a{
    margin: 1% 0;
    width: 30%;
    display: flex;
}

.card{
    border: solid white 3px;
    border-radius: 25px;
    margin: 5% 0 ;
    box-shadow: 0 0 16px #0000002e;
    width: 250px;
    background-color: white;
}

.popular_card{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto 1%;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 25px;
}
.content{
    margin-left: 4%;
}

.content h4{
    margin: 0;
    width: 100%;
}

.stars_notation{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #0065FC;
    margin-left: 3%;
}


.fa-star{
    font-size: 12px;
}

.aside_hebergements_populaires{
    width: 33%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.aside_hebergements_populaires h3{
    margin: 10% 0 5% 5%;
    width: 90%;
}

.aside_hebergements_populaires img{
    width: 30%;
    min-height: 96%;
    object-fit: cover;
    object-position: center;
    margin: 1%;
    border-radius: 25px 0 0 25px;    
}

.content_popular{
    margin: 4%;
}

.content_popular p{
    margin-top: 0;
    margin-bottom: 40px;
}

.content_popular h4{
    margin:  5% 0 0 0;
    display: flex;
    align-items: flex-start;
    line-height: normal;
}


.aside_hebergements_populaires a{
    margin: 0 0 8% 0;   
    display: flex;
    min-height: 28%;    
}

.plus{
    font-weight: 800;
}

a.plus {
    width: 100%;
    height: 10%;
}

.plus p{
    margin-left: 5%;
}

.fa-chart-line-up{
    width: 30px;
    height: 30px;
}

.icon-title{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.link_popular{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content p{
   margin-top: 0;
}




                                                                                /*Activités*/


.main-activités{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
    margin: 0 10% 0 10%;
   
}

#link_activités{
    width:60%;
    margin: 5% 0 1% 10%;
    font-weight: 700;
}

.large{
    height: 100%;
    width: 49%;
}

.medium{
    height: 60%;
    
}


.small{
    height: 37%;
  
}

.main-activités img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.large img{
    height: 85%;
}

.small img{
    height: 60%;
    object-position: 50% 25% ;
}

.medium img{
    height: 75%;
    object-position: 50% 40%;
}

.block-left{
    width: 49%;
    display: flex;
    justify-content: space-between;
  
}

.block-right{
   
    width: 49%;
    display: flex;
    justify-content: space-between;
 
}

.block-left-right-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
}

.block-right-right-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
}


.card_link p{
    margin-left: 5%;
    color: black;
    font-weight: 700;

}

.small,.medium,.large{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 25px;

}


                                                                            

                                                                    /*Footer*/


footer{
    background-color:#F2F2F2;
    display: flex;
    width: 100%;
    margin-top: 5%;
    height: 250px;
}

.main_footer {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 1% 0 0 0;
}

.footer h3{
    width: 100%;
    margin-left: 5%;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    

}

.footer ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 5%;
}

.footer li{
    padding: 2% 0;
    font-weight: 500;
}


                                                                            /*Media Queries Smarphones*/
@media screen and (max-width: 768px){
    body{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        max-width: 100%;
        padding: 0;
    }

    .activités_Marseille p{
        margin: 0;
        padding: 0;
    } 

    .main-container{
        margin: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
    }

    .main-container h3{
        font-weight: 800;
        margin-left: 5%;
        width: 90%;
    }                                                           /*Mobile En tete*/
   header{
       display: flex;
       flex-direction: column;
    }

   #logo {
       width: 20%;
       height: auto;
       margin:4% auto 0;
    }

   header nav{
       width: 100%;
       padding: 0 0 3% 0;
       margin-right: 0;
    }
   header nav ul{
       padding: 0;
       margin-top: 5%;
       display: flex;
       justify-content: space-around;
    }

   header nav li{
       padding: 3% 0 3% 3%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       border-bottom:solid #F2F2F2 3px;
    }

 header nav li:hover{
     border-top: none;
     border-bottom: #0065FC solid 3px;
    }

 .infos h1{
    line-height: normal;
    margin-left: 2%;
    }

 .infos p{
     margin-left: 2%;
    }

                                                                    /*Mobile Formulaire*/

 .form_search_location{
     margin: 10% 0 5% 2%;
     width: 95%;
    }

 #submit_location{
    width: 20%;
    position: relative;
    right: 10px;
    }
 
 .location{
     margin: 0 auto;
     padding: 0;
     width: 100%;
     min-width: 100%;
    }

 .form_search_location label{
     width: 14%;
     border-radius: 25% 0 0 25%;
    }

 .fas{
     display: flex;
     justify-content: center;
     align-items: center;
    }

 .fa-map-marker-alt{
     width: 100%;
     height: 100%;
    }

 #location{
     width: 75%;
     height: 50px;
    }

 #submit_location{
     width: 14%;
     border-radius: 25%;
    }


 #submit_location i{
    display:inline-block;
    }

#submit_location span{
    display: none;
    }

 .fas-fa-search{
     display: flex;
     justify-content: center;
     align-items: center;
    }
                                                                /*Mobile Filters*/

 .filters{
     display: flex;
     flex-direction: column;
     margin-left: 2%;
    }

 .filters h2{
     width: 100%;
     margin: 5% 0 0 0;
    }


 .info_2{
     margin-left: 3%;
    }

 .info_2 p{
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     }
                                                                /*Mobile hébergements*/
.main_hebergements{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    }

.aside_hebergements_populaires{
    width: 100%;
    border-radius: 0;
    }

.card h4{
    font-weight: 700;
    }

.aside_hebergements_populaires img{
    width: 32%;
    min-width: 32%;
    }

.aside_hebergements_populaires a{
    margin: 0 0 2% 0;
    }

.aside_hebergements_populaires .stars_notation{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    }
.hebergements{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: nowrap;
    margin-top: 5%;
    }

.content p{
    margin-top: 0;
    }

.hebergements a{
    width: 90%;
    }

.hebergements h4{
    margin-top: 2%;
    }


.hebergements a .card{
    width: 100%;
    margin: 2% auto;
    border-radius: 25px;
    height: 180px;
    }

.hebergements img{
    border-radius: 25px 25px 0 0;
    height: 50%;
    object-position: 50% 60%;
    }

    .title_price{
        height: auto;
    }


                                                                /*mobile Activités*/


.main-activités{
    display: flex;
    flex-direction: column;
    height: 1300px;
    margin: 0 5%;
    padding: 0;
}

.large,.block-left-right-block,.block-right-right-block{
    width: 100%;
}

.large,.medium,.small{
    height: 200px;
    margin: 2% 0;

}

.block-left,.block-right{
    display: flex;
    flex-direction: column;
    width: 100%;
  
}

.main-activités img{
    height: 70%;
}
                                                                /*Mobile Footer*/

 footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    }

.main_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2
    }

.footer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

.footer h3{
    margin: 10% 0 0 5%;
    font-weight: 800;
    }
.footer li{
    width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px){

                                                                /*Tablette En tete*/
 header{
    display: flex;
    flex-direction: column;
    }

#logo {
    width: 20%;
    height: auto;
    margin:4% auto 0;
    }

header nav{
    width: 100%;
    padding: 0 0 3% 0;
    margin-right: 0;
    }
header nav ul{
    padding: 0;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    }

header nav li{
    padding: 3% 0 3% 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:solid #F2F2F2 3px;
    }

header nav li:hover{
  border-top: none;
  border-bottom: #0065FC solid 3px;
    }

.infos h1{
 line-height: normal;
 text-align: center;
    }

.infos p{
  text-align: center;
    }

                                                                   /*Tablette Formulaire*/

 .form_search_location{
    margin: 0 auto;
     width: 60%;
    }

 .fas{
    display: flex;
    justify-content: center;
    align-items: center;
    }

 #submit_location{
    width: 20%;
    }
 
 .location{
     margin: 0 auto;
     padding: 0;
     width: 100%;
     min-width: 100%;
    }

 .form_search_location label{
     width: 14%;
     border-radius: 25% 0 0 25%;
    }

 .fa-map-marker-alt{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
    }

 #location{
     width: 75%;
     height: 50px;
    }

 #submit_location{
     width: 14%;
     border-radius: 25%;
     position: relative;
     right: 10px;
    }

 #location::placeholder{
     width: 80%;
     transform: translateX(5px);
    }

 #submit_location i{
    display:inline-block;
    }

#submit_location span{
    display: none;
    }

 .fas-fa-search{
     display: flex;
     justify-content: center;
     align-items: center;
    }
                                                                /*Tablette Filters*/

 .filters{
     display: flex;
     flex-direction: column;
    }

 .filters h2{
     width: 100%;
     display: flex;
     justify-content: center;
    }

#location::placeholder{  
text-align: center; 
    }

.filters ul{
    display: flex;
    flex-direction: column;
    }

 .info_2{
     display: flex;
     justify-content: center;
    }


                                                                /*Tablette Hebergements*/

     .main_hebergements{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .main_hebergements h3{
        text-align: center;
    }

    .icon-title{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .icon-title i{
        display: none;
    }

    #link_hebergements{
        width: 100%;
        margin: 5% 0;
    }
    
    .aside_hebergements_populaires{
        width: 100%;
        border-radius: 8%;
    }
    
    .card h4{
        font-weight: 700;
    }
    
    .aside_hebergements_populaires img{
        width: 32%;
        min-width: 32%;
    }
    
    .aside_hebergements_populaires a{
        margin: 0 0 2% 0;
    }
    
    .aside_hebergements_populaires .stars_notation{
        margin: 0;
        position: inherit;
    }
    .hebergements{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        flex-wrap: nowrap;
        margin-top: 5%;
    }
    
    .hebergements a{
        width: 90%;
    }
    
    .hebergements h4{
        margin-top: 2%;
    }
    
    .aside_hebergements_populaires .stars_notation{
        margin-bottom: 5px;
    }
    
    .hebergements a .card{
        width: 100%;
        margin: 2% auto;
        border-radius: 25px;
        height: 180px;
    }
    
    .hebergements img{
        border-radius: 25px 25px 0 0;
        height: 50%;
        object-position: 50% 60%;
    }
    .plus{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .plus p{
        margin: 0;
    }

    .stars_notation{
        margin-left: 0;
    }

    .title_price{
        height: auto;
    }

                                                                /*Tablette Activités*/
   
    .main-activités{
        display: flex;
        flex-direction: column;
        height: 1300px;
        margin: 0 5% 15% 5%;
        padding: 0;
    }
    
    .large,.block-left-right-block,.block-right-right-block{
        width: 100%;
    }
    
    .large,.medium,.small{
        height: 200px;
        margin: 2% 0;
    
    }
    
    .block-left,.block-right{
        display: flex;
        flex-direction: column;
        width: 100%;
      
    }
    
    .main-activités img{
        height: 70%;
    }

    .break1 img{
        object-position: 50% 50%;
    }
    
    
    .break2 img{
        object-position: 50% 40%;

    }

    #link_activités{
        text-align: center;
        width: 80%;
    }

    

                                                                /*Tablette Footer*/
   footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    }

.main_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2
    }

.footer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

.footer h3{
    margin: 10% 0 0 5%;
    font-weight: 800;
    }
.footer li{
    width: 100%;
    }

}
    
                                                                                        /*Adjust cards*/

@media screen and (min-width: 1025px) and (max-width: 1265px){
    
  .title_price{
      height: 60px;
  }

  .aside_hebergements_populaires .title_price{
      height: 80px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1025px){
.title_price{
    height: 80px;
}

.aside_hebergements_populaires .title_price{
    height: 100px;
}
}

